////////////////////////////////////////////////////////////////////////////////
///// GLOBAL STYLES

@import "./vars.scss";

html {
  -webkit-text-size-adjust: 100%; /* Prevent iOS font scaling in landscape while allowing user zoom */
}

body {
  margin: 0;
  padding: 0;
  background-color: $footer-bg-color;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code {
  width: 100%;
  display: block;
  overflow: auto;
  padding-bottom: $space-unit;
}

p {
  padding-bottom: $space-unit;
}

img {
  border-radius: $border-radius;
}

@import "./text.scss";
