////////////////////////////////////////////////////////////////////////////////
///// GLOBAL STYLES

@import "./vars.scss";

body {
  margin: 0;
  padding: 0;
  background-color: $footer-bg-color;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// /* Larger than phablet */
// @media (min-width: 550px) {
//   padding-bottom: $space-unit * 2;
// }

// /* Larger than tablet */
// @media (min-width: 750px) {
//   padding-top: $space-unit;
//   padding-right: 0;
//   padding-bottom: $space-unit * 3;
//   padding-left: 0;
// }

@import "./text.scss";
