////////////////////////////////////////////////////////////////////////////////
///// GLOBAL STYLES

@import "./vars.scss";

body {
  margin: 0;
  padding: 0;
  background-color: $footer-bg-color;
}

* {
  box-sizing: border-box;
}

code {
  background-color: darken($body-bg-color, 10%);
  padding: 0 $space-unit / 4;
  border-radius: $border-radius;
}

.content-wrapper {
  margin-top: $body-margin-top !important;
  padding: $space-unit;
  min-height: 75vh;
  max-width: 960px;
  margin: 0 auto;

  &--post {
    max-width: 960px;
  }

  .content .language-text code {
    display: block;
    overflow: auto;
    padding: $space-unit;
  }
}

@import "./text.scss";
