////////////////////////////////////////////////////////////////////////////////
///// GLOBAL STYLES

$space-unit: 20px;
$space-unit-half: $space-unit / 2;

$palette-primary: #693113;
$palette-secondary: #96894e;
$palette-dark: #29140a;
$palette-light1: #97a396;
$palette-light2: #c3c9c1;

$link-normal: $palette-primary;
$link-active: lighten($link-normal, 15%);

////////////////////////////////////////////////////////////////////////////////
///// SECTION-SPECIFIC STYLES

$body-bg-color: $palette-light2;
$body-color: $palette-dark;

$header-bg-color: $palette-dark;
$header-color: #ddd;

$footer-bg-color: $palette-dark;
$footer-color: #ddd;

$debug-bg-color: rgba(0, 0, 0, 0.8);
$debug-color: #eee;
